/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  color: var(--backgourd);
  --text-primary :#1B1B1B;
  --text-secondary: #333333;
  --text-tertiary:#696969;
  --text-headline: #E1624F; 
  --backgourd:#F5F4F0;
  --border-primary:#D9D9D9;
  --accent-blue:#0C51A7;
  --accent-orange :#E95E10;
  --accent-pink:##E5245E;
  --accent-purple:#591B98;
  max-width: 1280px;
}

body {
  background-color: var(--backgourd);
  color: var(--text-primary);
  line-height: 1.5;   
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 40px auto 28px;
  padding: 24px;  
  border-radius: 24px;
}

img {
  border-radius: 16px;
}

#destaque {
  margin-top: 24px;
  color: var(--text-headline);
  font-size: 16px;  
  font-weight: bold;
}

h1, h2, h3 {
  color: var(--text-primary);
  margin-bottom: 4px;  
  font-weight: bold; 
}

h1 {
  font-size: 36px; 
}

h2 {
  font-size: 32px; 
}

h3 {
  font-size: 28px; 
}

#legenda {
  text-align: center;
  font-style: italic;
  font-size: 16px;  
}

#bom-para, #historia, #Casais, #Familias, #Orcamento {
  font-size: 16px;
  font-weight: bold;  
  text-align: left;
}

#bom-para {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: var(--text-secondary);
  margin-top: 16px;
}

#historia {
  color: var(--accent-blue);
}

#Casais {
  color: var(--accent-pink);
}

#Familias {
  color: var(--accent-blue);
}

#Orcamento {
  color: var(--accent-orange);
}

#lista-destinos {
  margin-top: 12px;
  font-size: 16px;  
  color: var(--text-secondary);
  list-style-position: inside;
}

#lista-templos {
  list-style: decimal;
  list-style-position: inside;
  display: inline;
  color: var(--text-primary);
  font-size: 32px;
}

#templos {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: bold;
}

#paragraph {
  margin-top: 12px;
  font-size: 16px;  
  font-weight: regular; 
  color: var(--text-secondary);
  text-align: left;
}

#lista {
  list-style: disc;
  list-style-position: inside;
}

#lista li::marker {
  color: var(--text-primary);
}